

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 30%;
    max-width: 30%;
    min-height: 80vh;
}

#tabs{
    font-size: 25px;
    padding-left: 2%;
    background-color: rgb(246, 247, 248);
    height: 1.2%;
border: 0.2px solid rgb(238, 242, 245);
}

#tabs.active {
    border-right: 5px solid green
}

#content{
    margin: 0% 0% 0% 0%;
    min-width: 40%;
    max-width: 40%;
        min-height: 80vh; 
        overflow:'auto';
}



